body{
    padding-bottom: 0;
    margin-bottom: 0;
  
    padding-left: 0;
    margin-left: 0;

    margin-top: 0;
    padding-top: 0;

    margin-right: 0;
    padding-right: 0;
}

p{
    text-decoration: none;
}


.header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
    margin-top: 0;
    margin-bottom: 640px;


    position: absolute;
    top:0;
    bottom: 0;

}

.Left-head{
    display: flex;
    align-items: center;
    margin-top:30px;
    width:400px;
    height: 10px;


    border:thin;
    border-top: 0;
    border-right: 0;
    border-left:0;
    border-width: 1px;
    border-bottom-color: rgb(41, 65, 116);
}

.comScience_logo{
    height:40px;
}

.Right-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:921px;
    height: 15px;
    margin-top:40px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;

    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left:0;
    border-width: 1px;
    border-bottom-color: rgb(197, 193, 193);

    
}

.Home, .Academic, .About, .Faqs, .Contact{
 font-size:12px;
 font-weight: 550;
}

.Home:hover , .Academic:hover, .About:hover,.Faqs:hover, .Contact:hover{
    cursor: pointer;
}

.UpperDiv{
    background-image: url(WorldTech.jpeg);
    background-size: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 100px;

    position: relative;
    left: 0;
}

.UpperDiv img{
    object-fit: cover;
    vertical-align: top;
    width: 100%;
    height: 100%;
    margin-bottom:80px;
}

.Banner-text{
    position: absolute;
    top: 40%;
    text-align: center;
    text-transform: capitalize;
    bottom: 60%;
    left: 35%;
    color: rgb(25, 5, 70);
}

.READ-MORE-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.READ-MORE-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:rgb(4, 4, 43);
}

.LowerDiv{
   width: 100%;
    background-color: whitesmoke;
    height: 400px;
    

}

.Lower-container{
    height: 350px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(235, 234, 234);
    padding-left: 5px;
    padding-right: 20px;
   padding-top: 40px;
    
    
}

.Admissions{
    
    border: solid 1px black;
    background-color: white;
    height:300px;
    width:250px;
    padding-left: 0;
    margin-left: 0;

}

.Admissions-Img{
height: 200px;

object-fit: contain;
position: relative;
right: 5px;
left: 20px;
bottom: 25px;
}

.Admissions-Head{
position: relative;
left: 72px;
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.Admissions-Para{
    color: white;
    text-align: center;
    height: 113px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Admissions-Info{
    position: relative;
    bottom:75px;
    background-color: rgb(2, 2, 51);

}

.Admissions-Info:hover{
    cursor: pointer;
    background-color: rgb(223, 148, 9);

}


.Digital-Courses{
    border: solid 1px black;
    background-color: white;
    height:300px;
    width:250px;

}

    .Digital-Courses-Head{
    position: relative;
    left: 50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .Digital-Courses-Para{
    color: white;
    text-align: center;
    height: 113px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Digital-Courses-Info{
    position: relative;
    bottom: 200px;
    background-color: rgb(2, 2, 51);


}

.Digital-Courses-Info:hover{
    cursor: pointer;
    background-color: rgb(223, 148, 9);
}
.Digital-Courses-Img{
    height: 325px;

    object-fit: contain;
    position: relative;
    right: 45px;
    
    bottom: 90px;
   
}




.Staff-Bio{
    border: solid 1px black;
    background-color: white;
    height:300px;
    width:250px;
}


.Staff-Bio-Head{
    position: relative;
    left: 78px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Staff-Bio-Info{
    position: relative;
    bottom: 75px;
    background-color: rgb(2, 2, 51);
   
}

.Staff-Bio-Para{
    color: white;
    text-align: center;
    height: 113px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Staff-Bio-Info:hover{
    cursor: pointer;
    background-color: rgb(223, 148, 9);
}

.Staff-Bio-Img{
    height: 200px;

    object-fit: contain;
    position: relative;
    right: 25px;
    bottom: 25px;
}




.Project{
    border: solid 1px black;
    background-color: white;
    height:300px;
    width:250px;
}

.Project-Img{
    height: 115px;

    object-fit: contain;
    position: relative;
    right: 50px;
    left: 70px;
    top: 15px;
}

.Project-Head{
    position: relative;
    left:85px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Project-Info{
    position: relative;
    top:10px;
    background-color: rgb(2, 2, 51);
  
}

.Project-Para{
    color: white;
    text-align: center;
    height: 113px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Project-Info:hover{
    cursor: pointer;
    background-color: rgb(223, 148, 9);
}

.News{
    border: solid 1px black;
    background-color: white;
    height:300px;
    width:250px;
}


.News-Head{
    position: relative;
    left:85px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.News-Info{
    position: relative;
    bottom: 55px;
    background-color: rgb(2, 2, 51);
   
  
}

.News-Para{
    color: white;
    text-align: center;
    height: 113px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  

}

.News-Info:hover{
    cursor: pointer;
    background-color: rgb(223, 148, 9);
}
.News-Img{
    height: 180px;
    position: relative;
    right: 10px;
    left: 10px;
    bottom: 20px;
        
}