body{
background-color: rgb(2, 2, 51);
margin: 0;
margin-left: 0;
margin-right: 0;
padding: 0;

}


.header{
    background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index:1000;
        margin-top: 0;
        margin-bottom: 620px;
    
    
        position: fixed;
        top:0;
        bottom: 0;
    }
    .Left-head{
        display: flex;
        align-items: center;
        margin-top:10px;
        width:400px;
        height: 5px;
    
    
        border:thin;
        border-top: 0;
        border-right: 0;
        border-left:0;
        border-width: 1px;
        border-bottom-color: rgb(41, 65, 116);
    }
    
    .comScience_logo{
        height:40px;
        margin-bottom: 5px;
    }
    
    .Right-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:935px;
        height: 5px;
        margin-top:10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
    padding-top: 0;
    
        
    }
    
    .Home, .Academic, .About, .Faqs, .Contact{
     font-size:12px;
     font-weight: 550;
     text-decoration: none;
    }
    
    .Home:hover , .Academic:hover, .About:hover,.Faqs:hover, .Contact:hover{
        cursor: pointer;
    }



    .Page-Grid{
        display: grid;
        grid-template-columns: 1350px;
        width: 100%;
    }

    .Upper{
        height: 200px;
    }

    .Lower{
        width: 100%;
        height: 400px;
        background-color: white;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        padding-bottom: 30px;
        padding-top: 50px;
        
        
    }

    .Head-digital{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        margin-top: 100px;
        margin-left: 425px;
        font-size: 60px;
    }



    .Body-digital{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        text-align: center;
        font-size: 18px;

    }

    .Cloud-Computing{
        border-style: solid;
        border-color: black;
        border-width: 1px;
        display: flex;
        background-color: whitesmoke;
        flex: 100px;
        margin-left: 10px;
       
    }


    .Machine-Learning{
        border-style: solid;
        border-color: black;
        border-width: 1px;
        display: flex;
        background-color: whitesmoke;
        flex: 100px;
    }


    .Web-Development{
        border-style: solid;
        border-color: black;
        border-width: 1px;
        display: flex;
        background-color: whitesmoke;
        flex: 100px;
    }

    .IT-Security{
        border-style: solid;
        border-color: black;
        border-width: 1px;
        display: flex;
        background-color: whitesmoke;
        flex: 100px;
        margin-right: 10px;
    }

    .CC-Img{
        object-fit: cover;
        width: 310px;
    }

    .CC-Img:hover{
        cursor: pointer;
    }

    .CC-Head{
        color: rgb(2, 2, 51);
        position: relative;
       top: 300px;
      margin-left: 80px;
       font-size: 20px;
    
    }
       

    .ML-Img{
        object-fit: cover;
        width: 300px;
    }

    .ML-Head{
        color: rgb(2, 2, 51);
        position: relative;
       top: 225px;
       margin-left: 430px;
       font-size: 20px;
    }

    .ML-Img:hover{
        cursor: pointer;
    }

    .WD-Img{
        object-fit: cover;
        width: 300px;

    }

    .WD-Img:hover{
        cursor: pointer;
    }

    .WD-Head{
        color: rgb(2, 2, 51);
        position: relative;
       top: 150px;
       margin-left: 770px;
       font-size: 20px;
    }

    .ITS-Img{
        object-fit: cover;
        width: 320px;
    }

    .ITS-Img:hover{
        cursor: pointer;
    }
.ITS-Head{
    color: rgb(2, 2, 51);
    position: relative;
    top: 70px;
    margin-left: 1150px;
    font-size: 20px;
}
    
    