body{
    background-color: rgb(2, 2, 51);
    margin: 0;
    padding: 0;
}



.header{
    background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index:1000;
        margin-top: 0;
        margin-bottom: 620px;
    
    
        position: fixed;
        top:0;
        bottom: 0;
    }
    
    .Left-head{
        display: flex;
        align-items: center;
        margin-top:10px;
        width:400px;
        height: 5px;
    
    
        border:thin;
        border-top: 0;
        border-right: 0;
        border-left:0;
        border-width: 1px;
        border-bottom-color: rgb(41, 65, 116);
    }
    
    .comScience_logo{
        height:40px;
        margin-bottom: 5px;
    }
    
    .Right-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:935px;
        height: 5px;
        margin-top:10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
    padding-top: 0;
    
        
    }
    
    .Home, .Academic, .About, .Faqs, .Contact{
     font-size:12px;
     font-weight: 550;
     text-decoration: none;
    }
    
    .Home:hover , .Academic:hover, .About:hover,.Faqs:hover, .Contact:hover{
        cursor: pointer;
    }



    .Main-Head{
        color: rgb(238, 186, 16);
        margin-top: 110px;
        margin-bottom: 0;
        font-size: 50px;
        margin-left: 480px;
    }


    .Main-Body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        text-align: center;
        font-size: 22px;
        margin-bottom:40px;
    }


    .Upcoming-Section{
        display: inline-block;
        border-style: solid;
        border-color: rgb(255, 196, 0);
        height: 300px;
        width: 1330px;
        border-width: 1px;

    }


    .Up-Head{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 196, 0);
        margin-left: 20px;
        
        width:fit-content;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 20px;
        font-size: 25px;
    }

    .Up-Body{
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 20px;
    }

    ul{
        color: rgb(255, 196, 0);
    }

    .Just-Section{
        display: inline-block;
        border-style: solid;
        border-color: rgb(255, 196, 0);
        height: 500px;
        width: 1330px;
        border-width: 1px;
      margin-top: 40px;
    }


    .Just-Head{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 196, 0);
        margin-left: 30px;
        margin-bottom: 40px;
        width:fit-content;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 20px;
        font-size: 25px;
    }

    .Just-Body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 196, 0);
        width: 365px;
    }


    .Flier{
        position: relative;
        bottom: 180px;
     
        margin-left: 390px;
        height: 400px;
    }

    .Event{
        height: 400px;
        position:relative;
        top: -180px;
    }

    .Past-Section{
        display: inline-block;
        border-style: solid;
        border-color: rgb(255, 196, 0);
        height: 300px;
        width: 1330px;
        border-width: 1px;
        margin-top: 0;
        margin-bottom: 80px;
    }

.Past-Body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 196, 0);
        margin-left: 50px;
        text-align: center;
}
span{
    text-decoration: none;
    color: white;
    margin-right: 80px;
}


    .Past-Head{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 196, 0);
        margin-left: 580px;
        margin-bottom: 40px;
        width:fit-content;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 20px;
        font-size: 25px;
    }