body{
background-color:  rgb(2, 2, 51);
margin-top: 0;
margin-left: 0;
margin-right: 0;

}


.header{
background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
    margin-top: 0;
    margin-bottom: 620px;


    position: fixed;
    top:0;
    bottom: 0;
}
.Left-head{
    display: flex;
    align-items: center;
    margin-top:10px;
    width:400px;
    height: 5px;


    border:thin;
    border-top: 0;
    border-right: 0;
    border-left:0;
    border-width: 1px;
    border-bottom-color: rgb(41, 65, 116);
}

.comScience_logo{
    height:40px;
    margin-bottom: 5px;
}

.Right-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:935px;
    height: 5px;
    margin-top:10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
padding-top: 0;

    
}

.Home, .Academic, .About, .Faqs, .Contact{
 font-size:12px;
 font-weight: 550;
 text-decoration: none;
}

.Home:hover , .Academic:hover, .About:hover,.Faqs:hover, .Contact:hover{
    cursor: pointer;
}


.Head-topic{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 70px;

    position: absolute;
    left: 600px;
    vertical-align: middle;
    

}

.Welcome-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: inline-block;
    margin-top: 120px;
    text-align: center;

}

.GTKU-Head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: absolute;
    left:590px;

    vertical-align:middle;
}

.GTKU-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 65px;
    position: absolute;
    left: 300px;
    vertical-align: middle;

}


.Organisation{
    display: inline-block;
}
.OOrg-Head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 120px;
   position: relative;
   left: 10px;

}
.OOrg-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    display: inline-block;
    position: relative;
    left: 10px;
    top: -160px;


}

.OOrg-Img{
    display: inline-block;
   width: 400px;
   height: 300px;
    position: relative;
    left: 70px;
    top:-10px;
}

.Community{
    display: inline-block;
}

.OCom-Head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: relative;
    left: 180px;
    top: 0px;
}

.OCom-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    text-align: center;
}


.OCom-Img{
    display: block;
   width: 400px;
   height: 300px;
    position: relative;
    left: 80px;
    top:-10px;
}

.Distance-Learning{
    display: inline-block;
}

.DL-Head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: relative;
    padding-left: 380px;
    top: 20px;
}

.DL-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    display: inline-block;
    position: relative;
   padding-left: 150px;
    top: -10px;
    text-align: center;
}

.DL-Img{
    display: block;
   width: 400px;
   height: 300px;
    position: relative;
    right:-250px;
    top:-10px;
    margin: 0;
}

.Building-Our-Future{
    display: block;

}

.BOF-Head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: relative;
    top: 60px; 
    padding-left: 590px;

}

.BOF-note{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-left: 50px;
    top: 10px;
    text-align: center;
}


.Video-OurFuture{
    padding-left: 420px ;

}

